src/*
__tests__/*
tsconfig.*
jest.config.ts
package-lock.json
package.json.bck
node_modules/*
*.tsbuildinfo
local/
**/.DS_Store
**/secrets.*
.jest/
.github/
.vscode/*
**/*-yaml/**
testHelpers/** 
package.json.bck