<ng-container *ngIf="getConverterName() =='number'" >
    <mat-form-field  class="width100pt">
        <mat-label>MQTT Value</mat-label>
        <input matInput (change)="onNumberChange()" type="number" [formControl]="numberFormControl"
            (keyup.enter)="onNumberChange()" [step]="step"  [min]="min"  [max]="max"/>
        <mat-error *ngIf="numberFormControl.hasError('min')">
            The value is lower than the minimum
        </mat-error>
        <mat-error *ngIf="numberFormControl.hasError('max')">
            The value is greater than the maximum
        </mat-error>
    </mat-form-field>{{getUom()}}
</ng-container>
<ng-container *ngIf="getConverterName().indexOf('text') >=0 && !entity!.readonly ">
    <mat-form-field class="width150pt">
        <mat-label>MQTT Value</mat-label>
        <input matInput (change)="onTextChange($event)" [formControl]="textFormControl"  />
    </mat-form-field>
</ng-container>
<ng-container *ngIf="getConverterName()=='select' && ! entity!.readonly">
    <mat-form-field class="width150pt">
        <mat-label>Options</mat-label>
        <mat-select matInput [formControl]="optionsFormControl" (selectionChange)="onOptionChange()" >
            <mat-option *ngFor="let c of getOptions()" [value]="c.key">
                {{ c.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
<ng-container *ngIf="['button', 'binary'].includes(getConverterName())">
    <mat-slide-toggle  [formControl]="toggleFormControl" (toggleChange)="onButton()"></mat-slide-toggle>
</ng-container>
<ng-container *ngIf="entity!.readonly && !['number', 'binary'].includes(getConverterName())" >
    <mat-form-field class="width100pt">
        <mat-label>MQTT Value</mat-label>
        <input matInput [formControl]="textFormControl"/>
    </mat-form-field>{{getUom()}}

</ng-container>