#
name: Create and publish a Docker image

# This workflow will start on push on main branch it'll publish an modbus2mqtt npm package 
# if the patch level is '0' (major/minor releases) it will also create a Release.
# A release can be created by manually execution and setting version number to 'minor'
on:
#  push:
#    branches: ['main']
  workflow_dispatch:
    inputs:
      version_number:
        description: Version number <patch|minor| version number(E.g. 1.0.0) see npm version> An empty version number doesn't change the version
        default: ''
      job:
        type: choice
        description: Select job to execute
        options: 
        - npm_publish
        - docker
        - all
        default: 'all'
        
# Defines two custom environment variables for the workflow. These are used for the Container registry domain, and a name for the Docker image that this workflow builds.
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: modbus2mqtt/modbus2mqtt

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  npm_publish:
    if: ${{ ( (inputs.job == 'npm_publish')|| (inputs.job == 'all') ) && ( inputs.version_number != '' )}}
    environment: release 
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    outputs:
      tag:  ${{steps.set-tag.outputs.tag}}
      version:  ${{steps.set-tag.outputs.version}}
      change_log: ${{steps.store_changelog.outputs.change_log}}
      release_exists: ${{steps.set-tag.outputs.release_exists}}
      isRelease: ${{steps.set-tag.outputs.isRelease}}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: set package version number for update NPM version
        id: set-tag
        run: |
          set -e
          git config --global user.email "noreply@carcam360.de" 
          git config --global user.name "Workflow User"
          version="$(npm version ${{ inputs.version_number }} | sed -e 's/^v//g' )"
          echo "tag=v$version" >>$GITHUB_OUTPUT
          echo "version=$version" >>$GITHUB_OUTPUT
          echo "tag=v$version" 
          git push
          minor=$(echo $version| sed -e 's/\([0-9]*\)\.\([0-9]*\)\..*/\2/g')
          major=$(echo $version| sed -e 's/\([0-9]*\)\.\([0-9]*\)\..*/\1/g')
          echo minor $minor
          echo major $major
          if [[ "$version" =~ \.0$ ]]; then  
            since="v$major.$(expr $minor - 1)"  
            echo "isRelease=true" >>$GITHUB_OUTPUT 
          else
            since="v$major.$minor" 
            echo "isRelease=" >>$GITHUB_OUTPUT 
          fi
          since_tag=$(git tag| grep "$since"| sort -n| head -1)
          echo since_tag=$since_tag >>$GITHUB_OUTPUT 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: '✏️ Generate changelog History'
        uses: heinrichreimer/action-github-changelog-generator@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          output: CHANGELOG.md
          headerLabel: '## Changelog for Modbus <=> MQTT'
      - name: Archive CHANGELOG.md
        uses: actions/upload-artifact@v4
        with:
          name: CHANGELOG.md
          path: CHANGELOG.md
          retention-days: 1
      - name: '✏️ Generate changelog for release'
        id: release_changes
        if: ${{ steps.set-tag.outputs.since_tag != '' }} 
        uses: heinrichreimer/action-github-changelog-generator@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sinceTag: ${{ steps.set-tag.outputs.since_tag }}
          headerLabel: "## Changes since Release ${{ steps.set-tag.outputs.since_tag }}"
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        if: ${{ steps.set-tag.outputs.isRelease != '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.set-tag.outputs.tag }}
          release_name: Release ${{ steps.set-tag.outputs.tag }}
          body: |
            ${{steps.release_changes.outputs.changelog || '## First Release'}}
          draft: false
          prerelease: false
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
          token: ${{ secrets.NPMJS }}

      - name: NPM install
        id: npminstall
        run: |
          npm ci 
          npm run build
          npm set registry https://registry.npmjs.org/
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS }}
  build_assets:
    needs: npm_publish
    uses: ./.github/workflows/release-assets.yml
    with:
      version: ${{ needs.npm_publish.outputs.version }}
      dry_run: ${{ github.event_name == 'workflow_dispatch' && inputs.dry_run_assets }}
 
